<% layout("./boilerplate/boilerplate") -%>
    <div class="container">
        <% for(let following of followings) { %>
            <% let isFollowing=following.followers.some(follower=> String(follower) === String(currUser._id)); %>
                <% let isFollower=following.following.some(follower=> String(follower) === String(currUser._id));
                    %>
                    <div class="card d-flex flex-row text-white" style="background-color: black;">
                        <div class="w-20">
                           <a href="/profile/<%= following.username %>">
                            <img src="<%= following.image.url %>" alt="<%= following.name %>"
                            style="width: 50px; height: 50px; border-radius: 100%; object-fit: cover; margin: 1rem;">
                           </a>
                        </div>
                        <div class="d-flex flex-column w-60 p-3">
                            <a href="/profile/<%= following.username %>" class="text-decoration-none" style="color: #363333;">
                                <p class="p-0 m-0 text-white"><b>
                                    <%= following.name %>
                                </b></p>
                            <p class="p-0 m-0">@<%= following.username %>
                            </a>
                            </p>
                            <p class="p-0 m-0 fs-6">
                                <%= following.bio %>d
                            </p>
                        </div>
                    </div>
                    <% } %>
    </div>